@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <td>İsim</td>
            <td>Soyisim</td>
            <td>Email</td>
            <td>Parola</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.users)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
            </tr>
        }

    </tbody>

</table>